<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">

            <form class="mt-4" method="post">
                {% csrf_token %}
                {{empform.as_p}}



                 <button type="submit" class="btn btn-primary">Submit</button>


            </form>

              <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                  {% if messages %}
                  <div class="messages">
                    <strong
                        {% for i in messages %}
                            {% if i.tags %}
                        class="{{i.tags}}"

                            {% endif %}>
                        {{i}}
                        {% endfor %}

                    </strong>
                  {% endif %}


                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>